<!DOCTYPE html>
<html>
<head>
	<title>EDM Booking</title>
	
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta property="og:type" content="{{site.type}}" />
	<meta property="og:title" content="{{site.title}}" />
	<meta property="og:url" content="{{site.url}}" />
	<meta property="og:image" content="{{site.ogimage}}" />
	
	
	<!-- CSS -->
	<script src="https://use.fontawesome.com/3d921631f6.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="{{assets}}/css/styles.min.css" rel="stylesheet">
	

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body {{#if type}} class="body-padding" {{/if}}>
	{{> header }}
	
		{{> body }}
		{{> site-background }}
	
	{{> footer }}
	<!-- Our JavaScript -->
	{{!-- // <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script> --}}
	
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="{{assets}}/js/plugins/owl.carousel.min.js"></script>
	<script src="{{assets}}/js/plugins/scrollreveal.min.js"></script>
	<script src="{{assets}}/js/plugins/bootstrap-datepicker.min.js"></script>
	<script src="{{assets}}/js/plugins/jquery.selectric.min.js"></script>
	<script src="{{assets}}/js/plugins/jquery.fancybox.min.js"></script>
	<script src="{{assets}}/js/app.js"></script>
	{{#if cart}}<script src="{{assets}}/js/cart.js"></script>{{/if}}
	
	<!-- Plugins -->
	
	<!-- GoogleMaps -->
</body>
</html>
